{% load staticfiles %}
<html>
	<head>
		<title>Sistema de control de formación</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	    <link rel="stylesheet" href="//fontawesome.io/assets/font-awesome/css/font-awesome.css">
	    <link rel="stylesheet" href="{% static 'css/training.css' %}">
	</head>
	<body>

		<div class="page-header">
			{% block title %}<h1><a href="/">Control de entrenamientos - Discovery Air Chile</a></h1>{% endblock %}

			<a href="{% url 'piloto_new' %}"><span class="fa fa-user" aria-hidden="true"></span> Agregar piloto</a>  |  
			<a href="{% url 'curso_new' %}"><span class="fa fa-bank" aria-hidden="true"></span> Agregar curso</a>  |  
			<a href="{% url 'entrenamiento_new' %}"><span class="fa fa-book" aria-hidden="true"></span> Agregar entrenamiento</a> | 
			<a href="/pilotos">Ver pilotos</a> | <a href="/cursos">Ver cursos</a>
		</div>

		<div class="content container">
			<div class="row">
				<div class="col-md-8">

					{% block content %}
					{% endblock %}

				</div>
			</div>
		</div>
	</body>
</html>