{% extends 'training/base.html' %}

{% block content %}
	<a href="/pilotos">Ver pilotos</a> | <a href="/cursos">Ver cursos</a>
	<br >
<!--	<table class="table table-striped table-bordered">
		<td>
		{% for curso in cursos%}
	    <th>{{curso.nombre}}</th>
		</td>
	    {% for piloto in curso.entrenamientos.all %}
		<td>
	    	<tr>{{piloto.nombre}}</tr>
	    	
	    {% endfor %}
	    </td>
	{% endfor %}
	</table>
-->
<ul>
{% for e in entrenamientos %}
	<li>{{e.curso}}</li>
	{% if e.piloto %}
		{{e.piloto}} | {{e.fecha}} | {{e.vencimiento}}  
		{% if e.alerta == "warn" %}
		<span class="label label-warning"><span class="fa fa-exclamation"></span>  {{ e.dif.days }} d&iacute;as</span>
			{% elif e.alerta == "dang" %}
		<span class="label label-danger"><span class="fa fa-minus-circle"></span>  {{ e.dif.days }} d&iacute;as</span>
			{% else %}
		<span class="label label-success"><span class="fa fa-check"></span> </span>
			{% endif %}
		<br />
	{% endif %}
	
{% endfor %}
</ul>

{% endblock %}